.fullSize{
  position: absolute;
  z-index: 1;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0,0,0,0.8);
  margin: -121px 0 0 0;
  text-align: center;
  color: #ccc;
  font-size: 1.7rem;
  span{
    display: inline-block;
    margin: 15px auto;
  }

  .fullSizeImage{
    position: relative;
    img{
      margin: 0 auto;
    }
  }
}
